@import "../../global.scss";
.footer__container {
  height: 40vh;
  width: 100%;
  // padding: 10px 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $main-color;
  // background-color: azure;
  .footer_wrapper {
    // background-color: aqua;
    width: 90%;
    height: 80%;
    display: flex;
    .footer__left {
      flex: 1;

      .footer__left_logo__container {
        // background-color: aquamarine;
        height: 100%;
        display: flex;
        flex-direction: column;
        .footer__left_logo {
          // background-color: aliceblue;
          display: flex;
          align-items: center;
          justify-content: center;
          flex: 1;
          img {
            width: 50%;
            // color: white;
          }
        }
        .footer__left_desc_container {
          // background-color: aliceblue;
          flex: 1;
          display: flex;
          justify-content: center;
          width: 100%;
          // align-items: center;
          // justify-content: center;
          p {
            text-align: center;
            width: 80%;
          }
        }
      }
    }
    .footer__center {
      flex: 1;
      // background-color: teal;

      .footer__center_container {
        // background-color: aliceblue;
        width: 100%;
        height: 100%;
        margin-left: 20px;

        // display: flex;
        // align-items: center;
        // justify-content: center;
        ul {
          // background-color: aqua;
          height: 60%;
          width: 100%;
          display: flex;
          flex-wrap: wrap;

          // .footer__center_a {
          li {
            // background-color: aliceblue;
            width: 50%;
            height: max-content;
            // text-decoration: underline;
            line-height: 30px;
            text-transform: uppercase;
            list-style: circle;
            .footer__center_a {
            }
          }
          // }
        }
      }
    }
    .footer__right {
      flex: 1;
      .footer__right_container {
        // background-color: azure;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .footer__right_item {
          display: flex;
          align-items: center;
          &:first-child {
            width: 90%;
            // background-color: aquamarine;
          }

          span {
            // margin-bottom: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 5px;
          }
          a {
          }
        }
      }
    }
  }
}
