// $m-color: #191917;
// $main-color: #310951;
$main-color: rgb(64, 63, 66);
$primary-color: #dacba8;
$second-color: rgb(190, 154, 122);
// background-color: rgb(51, 47, 46);
// background-color: rgb(17, 48, 44);
// background-color: rgb(71, 55, 55);
//   background-color: rgb(44, 15, 15);
$burgundy-color: rgb(44, 15, 15);
$sumac-color: rgb(71, 55, 55);
// $burgundy-color: rgb(17, 48, 44);
// $burgundy-color: rgb(51, 47, 46);
